version: '3'
services:

  nginx:
    container_name: nginx.balancer
    build:
      context: ./nginx
      dockerfile: ./Dockerfile
    ports:
      - 80:80
    depends_on:
      - app-1
      - app-2
    links:
      - app-1
      - app-2
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 100M
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: distributed-system
    ports:
      - 5432:5432

  rabbitMQ:
    image: rabbitmq:3-management-alpine
    environment:
      RABBITMQ_DEFAULT_USER: root
      RABBITMQ_DEFAULT_PASS: 12345
    ports:
      - 5672:5672
      - 15672:15672

  app-1:
    build:
      context: ./app
      dockerfile: Dockerfile
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/distributed-system
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 12345
      SPRING_RABBITMQ_USERNAME: root
      SPRING_RABBITMQ_PASSWORD: 12345
      SPRING_CONTAINER_NAME: app-1
    depends_on:
      - db
      - rabbitMQ
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 250M
    ports:
      - "8080:3000"

  app-2:
    build:
      context: ./app
      dockerfile: Dockerfile
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/distributed-system
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 12345
      SPRING_RABBITMQ_USERNAME: root
      SPRING_RABBITMQ_PASSWORD: 12345
      SPRING_CONTAINER_NAME: app-2
    depends_on:
      - db
      - rabbitMQ
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 250M
    ports:
      - "8081:3000"

  comsumer:
    build:
      context: ./link-consumer
      dockerfile: Dockerfile
    environment:
      SPRING_RABBITMQ_USERNAME: root
      SPRING_RABBITMQ_PASSWORD: 12345
    ports:
      - 4000:4000
    depends_on:
      - rabbitMQ
      - app-1
      - app-2